@model eHal.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<div class="container">
    <div class="ui raised segment">
        <h2>Kullanıcı Kayıt Formu</h2>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <hr />

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="fields">
                <div class="seven wide field">
                    <label for="Email">Email Adresi</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label for="PersonName">Adınız ve Soyadınız</label>
                    @Html.TextBoxFor(m => m.PersonName, new { @class = "form-control" })
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label for="Password">Şifreniz</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label for="ConfirmPassword">Şifrenizi Onaylayın</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            
            <input class="ui button" id="send" value="Kayıt ol!" type="submit" tabindex="0">
        }
    </div>
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }





<!--
    

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

-->